name: Deploy Workflow
on:
  push:
    tags:
      - "*"
jobs:
  build:
    name: Build
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ["3.6"]
    runs-on: ubuntu-latest
    container: python:${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
      - run: |
          apt-get update && apt-get install -y mariadb-server
          mkdir -p /var/run/mysqld && chown -R mysql:mysql /var/run/mysqld
          su mysql -s /bin/sh -c 'mysqld --skip-networking=0 --bind-address=127.0.0.1 &' 
          sleep 3
          mysql -e "create database migratore_test;"
      - run: python --version
      - run: |
          pip install -r requirements.txt
          pip install -r extra.txt
          pip install pymysql
        if: matrix.python-version != '2.7'
      - run: |
          pip install -r requirements.py2.txt
          pip install -r extra.py2.txt
          pip install pymysql
        if: matrix.python-version == '2.7'
      - run: |
          pip install black
          black . --check
        if: matrix.python-version == '3.12'
      - run: |
          pip install pytest
          DB_NAME=migratore_test DB_UNIX_SOCKET="/var/run/mysqld/mysqld.sock" DB_USERNAME=root DB_PASSWORD="" pytest
      - run: DB_NAME=migratore_test DB_UNIX_SOCKET="/var/run/mysqld/mysqld.sock" DB_USERNAME=root DB_PASSWORD="" python setup.py test
        if: ${{ !contains(fromJson('["3.9", "3.10", "3.11", "3.12", "latest"]'), matrix.python-version) }}
      - run: pip install twine wheel
      - run: python setup.py sdist bdist_wheel
      - run: python -m twine upload -u ${PYPI_USERNAME} -p ${PYPI_PASSWORD} dist/*
        env:
          PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
          PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
