name: Main Workflow
on:
  push:
  schedule:
    - cron: "0 0 * * 0"
jobs:
  build:
    name: Build
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: [
          "3.7",
          "3.8",
          "3.9",
          "3.10",
          "3.11",
          rc
        ]
    runs-on: ubuntu-latest
    container: python:${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
      - run: |
          apt-get update && apt-get install -y mariadb-server
          mkdir -p /var/run/mysqld && chown -R mysql:mysql /var/run/mysqld
          su mysql -s /bin/sh -c 'mysqld --skip-networking=0 --bind-address=127.0.0.1 &' 
          sleep 3
          mysql -e "create database migratore_test;"
      - run: python --version
      - run: |
          pip install -r requirements.txt
          pip install -r extra.txt
          pip install pymysql
        if: matrix.python-version != '2.7'
      - run: |
          pip install -r requirements.py2.txt
          pip install -r extra.py2.txt
          pip install pymysql
        if: matrix.python-version == '2.7'
      - run: |
          pip install black
          black . --check
        if: matrix.python-version == '3.11'
      - run: DB_NAME=migratore_test DB_UNIX_SOCKET="/var/run/mysqld/mysqld.sock" DB_USERNAME=root DB_PASSWORD="" python setup.py test
